<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}/dev/null{% endblock %} - {{ page.settings['site_title'] }}</title>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>    
    <link href='http://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    {% block head %}{% endblock %}
</head>
<body>
<header>
    <div class="rainbow">
        <div class="red"></div>
        <div class="orange"></div>
        <div class="yellow"></div>
        <div class="green"></div>
        <div class="blue"></div>
        <div class="purple"></div>
    </div>
</header>
<div class="container">
    <div class="left-col">
        {% block content %}{% endblock %}
    </div>
    <div class="right-col">
        <div class="logo"><a href="/"><h1>{{ page.settings['firstname'] }}</h1><h2>{{ page.settings['lastname'] }}</h2></a></div>
        <ul class="links">
            {% if user %}<a class="compose-btn" href="/backstage/compose"><li>new</li></a>{% endif %}
            <a class="about-btn" href="/about"><li>about</li></a>
            {% if page.settings['twitter'] %}<a class="twitter-btn" href="https://twitter.com/{{ page.settings['twitter'] }}"><li>twitter</li></a>{% endif %}
            {% if page.settings['github'] %}<a class="github-btn" href="https://github.com/fanzeyi"><li>github</li></a>{% endif %}
        </ul>
    </div>
</div>
{% if page.settings["google_analytics"] %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ page.settings["google_analytics"] }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{% endif %}
</body>
</html>
