{% extends 'base.html' %}

{% block title %}Edit Entry{% end %}

{% block body %}
<div class="backstage">
<div class="nav">Hello {{ current_user.Nickname }}. <a href="/backstage">Backstage</a> | <a href="/signout">Sign out</a></div>
<form method="POST" action="">
    {% raw xsrf_form_html() %}
    <div class="form_line">
        <input type="TEXT" name="title" id="compose_title" placeholder="Title" value="{{ entry.Title }}"/>
    </div>
    <div class="form_textarea">
        <textarea name="content">
            {{ entry.Content }}
        </textarea>
    </div>
    <div class="form_line">
        <input type="SUBMIT" value="Edit Entry" class="button" />
    </div>
</form>
{% end %}
