{% extends 'base.html' %}

{% block title %}Install Angemon{% end %}

{% block body %}
{% if error != 0 %}
<div class="error_msg">
    {% if error == 1 %}
    用户名或密码不得为空！
    {% elif error == 2 %}
    用户名或密码太短！
    {% elif error == 3 %}
    用户名或密码太长！
    {% end %}
</div>
{% end %}
<div class="signin_form">
<form method="POST" action="">
    {% raw xsrf_form_html() %}
    <div class="form_line">
        <label>用户名: </label>
        <input type="text" name="usr" id="username" {% if usr %}value="{{ usr }}"{% end %} maxlength="15"/>
    </div>
    <div class="form_line">
        <label>密码: </label>
        <input type="password" name="pwd" id="password" maxlength="15"/>
    </div>
    <div class="form_line">
        <label>昵称: </label>
        <input type="text" name="nickname" id="nickname" maxlength="20"/>
    </div>
    <div class="form_line">
        <input type="submit" value="Sign in" />
    </div>
</form>
</div>
{% end %}
